<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t ".detail_information" %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <table class="table table-user-information">
        <tbody>
          <tr>
            <td>name</td>
            <td><%= @lesson.name %></td>
          </tr>
          <tr>
            <td>description</td>
            <td><%= @lesson.description %></td>
          </tr>
          <tr>
            <td>content</td>
            <td><%= @lesson.content %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
