

<br>
<br>
<br>
<br>
<br>
<br>
<section class="site-content site-section">
                <div class="container">
                    <!-- Portfolio Filter Links -->
                    <!-- Custom Portfolio functionality is initialized in js/pages/portfolio.js -->
                    <!-- Add the category value you want each link in .portfolio-filter to filter out in its data-category attribute. Add the value 'all' to show all items -->
                    <div class="site-block text-center">
                        <div class="btn-group portfolio-filter">
                            <a href="javascript:void(0)" class="btn btn-primary active" data-category="all">All</a>
                            <a href="javascript:void(0)" class="btn btn-primary" data-category="design">Design</a>
                            <a href="javascript:void(0)" class="btn btn-primary" data-category="development">Development</a>
                            <a href="javascript:void(0)" class="btn btn-primary" data-category="logo">Logo</a>
                        </div>
                    </div>
                    <!-- END Portfolio Filter Links -->

                    <!-- Portfolio Items -->
                    <!-- Add the category value for each item in its data-category attribute (for the filter functionality) -->
                    <div class="row portfolio">
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="design">
                            <a href="portfolio_single.html">
                                <img src="" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Project #1</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="logo">
                            <a href="portfolio_single.html">
                                <img src="" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Project #2</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="logo">
                            <a href="portfolio_single.html">
                                <img src="" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Project #3</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="design">
                            <a href="portfolio_single.html">
                                <img src="" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Project #4</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="logo">
                            <a href="portfolio_single.html">
                                <img src="" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Project #5</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="design">
                            <a href="portfolio_single.html">
                                <img src="" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Project #6</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="development">
                            <a href="portfolio_single.html">
                                <img src="" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Project #7</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="development">
                            <a href="portfolio_single.html">
                                <img src="" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Project #8</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="logo">
                            <a href="portfolio_single.html">
                                <img src="" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Project #9</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="logo">
                            <a href="portfolio_single.html">
                                <img src="" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Project #10</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="development">
                            <a href="portfolio_single.html">
                                <img src="" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Project #11</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="design">
                            <a href="portfolio_single.html">
                                <img src="" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Project #12</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="development">
                            <a href="portfolio_single.html">
                                <img src="" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Project #13</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="logo">
                            <a href="portfolio_single.html">
                                <img src="" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Project #14</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="development">
                            <a href="portfolio_single.html">
                                <img src="" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Project #15</strong></span>
                            </a>
                        </div>
                        <div class="col-sm-3 portfolio-item animation-fadeInQuick" data-category="design">
                            <a href="portfolio_single.html">
                                <img src="" alt="Image" class="img-responsive">
                                <span class="portfolio-item-info"><strong>Project #16</strong></span>
                            </a>
                        </div>
                    </div>
                    <!-- END Portfolio Items -->
                </div>
            </section>
            <!-- END Content -->


<!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->


