<style type="text/css">
  /* line 1, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.navbar .navbar-fixed-top {
  position: fixed;
  z-index: 1030;
}

/* line 5, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.navbar-default {
  background: white !important;
  color: #000;
  font-weight: 600;
}

/* line 10, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.navbar-default .navbar-nav > li > a {
  color: #000 !important;
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/* line 15, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.avatar {
  width: 40px;
  height: 40px;
}

/* line 19, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: red !important;
}

/* line 22, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.logo {
  margin-left: 30px;
}

/* line 25, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.navbar-default .container-fluid .navbar-header img {
  width: 57px;
  height: 55px;
}

/* line 30, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
}

/* line 40, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.imgcourse {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 12px;
}

/* line 46, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.scroll {
  width: 300px;
  height: 400px;
  overflow: auto;
}

/* line 51, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.dropdown-menu li.user-header {
  background-color: #3c8dbc !important;
}

/* line 54, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.imgprofile {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

/* line 62, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.box_profile {
  width: 280px !important;
}

/* line 65, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.img_profile {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-left: 100px;
  margin-top: 10px;
}

/* line 72, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.name_box_profile {
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  margin-top: 10px;
  text-align: center;
}

/* line 78, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.user-footer {
  background-color: #f9f9f9;
  padding: 10px;
}

/* line 82, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.pull-left {
  float: left !important;
}

/* line 85, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.pull-right {
  float: right !important;
}

/* line 88, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.title {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  color: #000;
  margin-top: 100px;
}

/* line 98, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.text-muted {
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 80px;
}

/* line 103, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.body_wrapper #principles .fa-stack {
  width: 138px;
  height: 120px;
  left: -13px;
}

/* line 108, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.service-heading {
  margin-top: 50px;
  font-weight: 700;
  text-transform: none;
  font-size: 24px;
}

/* line 114, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.body_wrapper #counters {
  padding: 80px 0;
  background-color: #404040;
  color: white;
}

/* line 119, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.body_wrapper #counters .title {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

/* line 127, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.body_wrapper #counters .content {
  margin-bottom: 36px;
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  min-height: 0;
}

/* line 136, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.body_wrapper #counters .counters-v2 {
  background-color: #505050;
  text-align: center;
  padding: 60px 50px;
}

/* line 141, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.body_wrapper #counters .counters-v2-icon {
  color: #efefef;
  font-size: 44px;
  margin-bottom: 15px;
}

/* line 146, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.body_wrapper #counters .counters-v2 .counters-v2-title {
  font-size: 28px;
  margin-bottom: 3px;
  text-transform: uppercase;
}

/* line 151, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.body_wrapper #counters .counters-v2 .counters-v2-no {
  display: block;
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* line 157, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.home-index {
  background: url(/assets/home.jpg);
  background-repeat: no-repeat;
  height: 700px;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
}

/* line 165, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 171, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.body_wrapper .text-content {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}

/* line 176, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.body_wrapper .text-content .content {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 20px;
}

/* line 181, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.body_wrapper .text-content .content .content-title {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
}

/* line 191, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.body_wrapper .text-content .content .content-lead-in {
  text-transform: none;
  font-size: 40px;
  line-height: 50px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

/* line 201, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.body_wrapper .text-content .content .btn-box {
  width: 200px;
}

/* line 204, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.body_wrapper .text-content .content .btn-xl {
  border-color: #e13640;
  background-color: #e13640;
  margin: 10px;
  color: #fff;
  font-size: 30px;
}

/* line 211, /home/sony/Documents/tmg_70/app/assets/stylesheets/custom.css.scss */
.body_wrapper #counters .counters-v2-subtitle {
  color: #efefef;
  font-style: italic;
  font-size: 16px;
  margin-left: -3px;
}



</style>
<div class="body_wrapper body_home">
  <div class="home">
    <div class="container-fluid home-index">
      <div class="container">
        <div class="text-content">
          <div class="content">
            <div class="content-title">
              learn more. faster.
            </div>
            <div class="content-lead-in">
              <i>FREE classes for experienced engineers</i>
            </div>
            <a class="page-scroll btn btn-xl btn-box" href="#">Basic</a>
            <a class="btn btn-xl btn-box" href="#">Advance</a>
          </div>
        </div>
      </div>
    </div>
    <section id="principles">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="title section-heading">
              <span class="translation_missing" title="translation missing: en.training">Training</span>
            </h2>
            <h3 class="section-subheading text-muted">
              We want to work with the most dedicated startup engineers and designers. We want to help you become the best you can be, alongside talented peers.
            </h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
            <img src="/assets/tutorial-4f4487042a16be26927579b4eb5970c7f8199db35d36e741b19cb13a7afdaadf.png" alt="Tutorial">
            </span>
            <h4 class="service-heading">
              Read Tutorials
            </h4>
            <p class="text-muted">
              We'll learn how apps like Facebook, Instagram, and Twitter are built.
            </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
            <img src="/assets/project1-9ba53f2fc6f729e5ead7c3f65e923bd8f70721f0f7746a97a8bbe34508425a09.png" alt="Project1">
            </span>
            <h4 class="service-heading">
              Read Tutorials
            </h4>
            <p class="text-muted">
              You'll be learning and working with the best.
            </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
            <img src="/assets/project2-0e3c883b74108aab8b8c8f6c846641d16d0da420453d6af5e80ce92263bab99d.png" alt="Project2">
            </span>
            <h4 class="service-heading">
              Project 2
            </h4>
            <p class="text-muted">
              You'll build real apps you'll be proud to show to customers and employers.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="counters">
      <div class="container">
        <div class="row">
          <div class="text-center">
            <h2 class="title">
             Hệ thống Đào tạo trực tuyến
            </h2>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="counters-v2">
              <i class="counters-v2-icon fa fa-book"></i>
              <figure class="counter color-base counters-v2-no">
                <%= @courses.count  %>
              </figure>
              <h4 class="counters-v2-title">
                KHÓA HỌC
              </h4>
              <span class="counters-v2-subtitle">

              </span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="counters-v2">
              <i class="counters-v2-icon fa fa-mortar-board"></i>
              <figure class="counter color-base counters-v2-no">
                <%= @teachers.count %>
              </figure>
              <h4 class="counters-v2-title">
                GIÁO VIÊN
              </h4>
              <span class="counters-v2-subtitle">
              </span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="counters-v2">
              <i class="counters-v2-icon fa fa-users"></i>
              <figure class="counter color-base counters-v2-no">
                <%= @members.count %>
              </figure>
              <h4 class="counters-v2-title">
                THÀNH VIÊN
              </h4>
              <span class="counters-v2-subtitle">
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


<!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->


