<% provide :title, "Chỉnh sửa" %>
<% provide :button_text, "Cập nhật" %>
<div class="panel-content">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        Chỉnh sửa thông tin
      </h3>
    </div>
    <%= render "form" %>
  </div>
</div>
