<% provide :title, "Tạo mới" %>
<% provide :button_text, "Tạo" %>
<div class="panel-content ">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        Tạo mới người dùng
      </h3>
    </div>
    <%= render "form" %>
  </div>
</div>
