<li class = "list-group-item row activity">
  <div class = "timeline-icon"><i class="glyphicon glyphicon-edit"></i></div>
  <div class = "timeline-time">
    <small class = "text-muted">
      <%= l activity.created_at, format: :date_month_year_v1 %>
    </small><br/>
  </div>
  <div class = "timeline-content content">
    <strong>
      <%= activity.user ? activity.user.name : t("activity.someone") %>
    </strong><br />
    <% if activity.trackable %>
    <span class = "action-activity">
      <%= t("dashboard.activity.user.update") + activity.trackable.name %>
    </span>
    a
    <% else %>
      <span class = "action-activity">
        aaa
    <% end %>
  </div>
</li>
