<div class="container-mailer">
  <div class="container-body-mailer">
    <div class="backgroup-mailer">
      <div class="body-mailer">
        <h2>Xin chào <%= @user.name %></h2>
        <br>
        <p><h3>Đăng ký khóa học thành công</h3></p>
        <div>
          <h3>
            Link <%= link_to "Khóa học #{@course.name}", ENV["ADDRESS_WEB"] %>
          </h3>
        </div>
      </div>
      <div class="footer-mailer">
      </div>
    </div>
  </div>
</div>
