<div class="login-title text-center">
  <h1>
    <i class="gi gi-flash"></i>
    <strong>Vui lòng nhập email</strong>
  </h1>
</div>

<div class="block push-bit" style="margin-bottom: 0 !important">
  <%= form_for resource, html: {class: "form-horizontal login-title  bg-white",
    method: :post}, as: resource_name,
    url: password_path(resource_name) do |f| %>
    <%= render "shared/error_mesages_devise", resource: resource %>

    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="gi gi-envelope"></i>
          </span>
          <div>
            <%= f.email_field :email, autofocus: true,
              class: "form-control", placeholder: "Nhập email" %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group form-actions" style="margin-left: 15px; margin-right:15px">
      <div class="col-md-offset-5">
        <%= f.submit "Gửi email",
          class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
