<div class="clear-fix types-form" style="padding-left: 11px; padding-right:10px">
  <div class="form-group">
    <%= f.label :name, value: "Loại", class: "col-md-3 control-label" %>
    <div class="col-md-5">
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="col-md-4 remove-answer">
      <%= link_to_remove_fields_type "Xóa", f %>
    </div>
  </div>
</div>
