<% provide :title, t("list_user") %>
<%= link_to new_admins_category_path,
  class: "btn btn-md btn-success" do %>
  <i class="gi gi-plus"></i> add category
<% end %>
<br>
<br>
<div class="row manage_user">
  <div class="col-md-12">
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="table-center">
          <th> Stt </th>
          <th> Tên </th>
          <th style="min-width: 250px; max-width: 300px"> Mô tả </th>
          <th> Thao tác </th>
        </tr>
      </thead>
      <tbody class="table-center">
        <%= render(@categories, categories: @categories) || "Dữ liệu không tồn tại" %>
      </tbody>
    </table>
    </div>
    <center><%= paginate @categories %></center>
  </div>
</div>
 <div class="modal_show_details"><%= render "shared/model_show" %></div>
