<% provide :title, t("list_user") %>
<%= link_to new_admins_category_path,
  class: "btn btn-md btn-success" do %>
  <i class="glyphicon glyphicon-plus"></i> add category
<% end %>
<br>
<br>
<div class="row manage_user">
  <div class="col-md-12">
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="active">
          <th> index </th>
          <th> name </th>
          <th> description</th>
          <th> action </th>
        </tr>
      </thead>
      <tbody>
        <%= render(@categories, categories: @categories) || "data_not_find" %>
      </tbody>
    </table>
    </div>
    <center><%= paginate @categories %></center>
  </div>
</div>
 <div class="modal_show_details"><%= render "shared/model_show" %></div>
