<li class = "list-group-item row activity">
  <div class = "timeline-icon remove-activity">
    <i class = "glyphicon glyphicon-remove"></i>
  </div>
  <div class = "timeline-time">
    <small class = "text-muted">
      <%= l activity.created_at, format: :date_month_year_v1 %>
    </small><br/>
  </div>
  <div class = "timeline-content content">
    <strong>
      <%= activity.user ? activity.user.name : t("activity.someone") %>
    </strong><br />
    <span class = "action-activity">
      aa
    </span>
  </div>
</li>
