<button class="btn-show-request btn btn-xs btn-default"
  data-toggle="tooltip"
  title="show"
  data-request="<%= make_request_link object %>">
  <i class="fa fa-eye" aria-hidden="true"></i>
</button>
