<div class="modal show-request">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="panel-title text-center">show</h2>
      </div>
      <div class="modal-body-show-request modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">
          close
        </button>
      </div>
    </div>
  </div>
</div>
