<% provide :title, "Danh sách người dùng" %>
<div class="row manage_user">
  <div class="col-md-12">
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="table-center">
          <th>Stt</th>
          <th>Tên</th>
          <th>Email</th>
          <th>Số điện thoại</th>
          <th>Quyền</th>
          <th class="text-center">Thao tác</th>
        </tr>
      </thead>
      <tbody class="table-center">
        <%= render(@users, users: @users) || t(".data_not_find") %>
      </tbody>
    </table>
    </div>
    <center><%= paginate @users %></center>
  </div>
</div>
