<% if activity.trackable.present? %>
  <tr>
    <td class="width-20-pc"><%= l activity.created_at, format: :date_month_year_v1 %></td>
    <td>
      <%= "#{event_model(activity.key)} #{activity_name_of_member(activity.trackable_type)} #{activity_of_member(activity)}".capitalize %>
    </td>
  </tr>
<% end %>
