<% if @activities.present? %>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="table-center">
          <th class="font-size-15">Ngày
          </th>
          <th class="font-size-15">Hành động</th>
        </tr>
      </thead>
      <tbody class="table-center">
        <%= render(@activities, activities: @activities) %>
      </tbody>
    </table>
  </div>
  <center><%= paginate @activities %></center>
<% end %>
