<% provide :title, "Danh sách người dùng" %>

<div class = "row activity-block-title activities col-md-12">
  <div class = "col-md-12">
    <h2 class="timeline-title">
      <strong><%= t "dashboard.activity.timeline" %></strong>
    </h2>
    <div class = "row activities-layout">
      <%= render "shared/activities" %>
    </div>
  </div>
  <center id = "pag"><%= paginate @activities %></center>
</div>
