<% provide :title, "Danh sách hoạt động" %>

<div class="row">
  <div class="row clear-fix col-center color-red" id="not-exist-list-activity">
  </div>
  <div class="col-md-12" id="list-activity">
    <%= render "table_activity" %>
  </div>
</div>
