<tr>
  <td>
    <%= current_index @user_inside_courses.current_page,
      Settings.per_page.teachers.user, user_counter %>
  </td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td class="text-center">
    <%= check_box_tag "user_courses[list_user][]", user.id %>
  </td>
</tr>
