<div class="row manage_user">
  <div class="col-md-12">
    <div class="table-responsive">
    <table class="table table-bordered table-hover checkbox-member">
      <thead>
        <tr class="table-center">
          <th>#</th>
          <th>Tên</th>
          <th>Email</th>
          <th>Số điện thoại</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody class="table-center">
        <%= render partial: "list_member", collection: @user_inside_courses,
          as: :user %>
      </tbody>
    </table>
    </div>
    <center><%= paginate @user_inside_courses %></center>
  </div>
</div>
