<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<br>
<div class="row">
  <div class="col-md-9">
    <br>
    <ul style="list-style-type: none">
      <%= render(@posts, posts: @posts) || "Dữ liệu không tồn tại" %>
    </ul>
    <center><%= paginate @posts %></center>
  </div>
  <div class="col-md-3">
    <h4>Bài viết có nhiều lượt xem nhất</h4>
    <hr>
    <h4>Tác giả có nhiều bài viết nhất</h4>
  </div>
</div>
<br>
<br>
