<div class="container">
  <div><b><%= @post.title %></b></div>
  <div>
    <div style="float: left">
      date: <%= @post.created_at %>
    </div>
   <div style="color: #9b9b9b; float: right">
      <i class="fa fa-eye"></i> 72 &nbsp;&nbsp;&nbsp;
      <i class="fa fa-comment"></i> 72 &nbsp;&nbsp;&nbsp;
      <%= link_to edit_publish_post_path(@post), class: "btn btn-sm btn-info" do %>
        Edit
      <% end %>
    </div>
  </div>
  <div class="clear-float row">
    <%= @post.content %>
  </div>
</div>
