$silver-color: #f0f0f0;
$orange-color: #e67e22;
$green-color: #27ae60;
$red-black-color: #dd4b39;
$blue-color: #27ae60;
$white-color: #fff;
$gray-black-color: #ddd;
$blue-white-color: #1bbae1;
$white-blue-color: #d9edf7;
$green-blue-color: rgb(26, 188, 156);
$gray-white-color: #eaedf1;
$organe-yellow-color: #87260C;
$gray-light-color: #827e7d;
$gray-white-light-color: #ececec;
$black-light-color: rgba(0, 0, 0, 0.65 );
$green-light-color: #42f4aa;
$gray-light-white-color: #e6e6e6;
$gray-light-black-color: #9e9e9e;
$menu-title-color: #f78;
$black-color: #000;
$background-notification-content: #ccc;
$background-notification-read: #f4f8fa;
$footer-notification-color: #666;
$message-info-color: #999;
$seeall-background-color: #f5f5f5;
$gray-color: #eee;
$light-blue-color: #34a7c1;
$pink-color: #FFCCCC;
$dark-green-color: #07313a;
$color-red: #f00;
$yellow-color: #f4df42;
$green-weight: #27ae60;
$blue-light: #96c2f2;
$gray-weight-color: #959aa0;
