#btn-fb {
  background-color: #507cc0;
  color: white;
}

#btn-gp {
  background-color: #df4930;
  border: 1px solid #df4930;
  color: white;
}

#btn-tw {
  background-color: #64ccf1;
  color: white;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.clear-fix {
  clear: both;
}

//login


/* Login */

#login-background > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

#login-background {
  height: 100%;
}
#login-background> img {
  top: 0;
}

#login-container, #login-alt-container {
  position: absolute;
  width: 480px;
  left: 50%;
  top: 186px;
  margin-left: -240px;
  z-index: 1000;
}

#login-container .login-title {
  padding: 20px 10px;
  background: #444444;
  background: url('../img/template/ie8_opacity_dark_60.png') repeat;
  background: rgba(0, 0, 0, 0.6);
}

#login-container .login-title h1, #login-alt-container h1 {
  font-size: 26px;
  color: #ffffff;
}

#login-container .login-title h1 small, #login-alt-container h1 small {
  font-size: 16px;
  color: #dddddd;
}

#login-container> .block {
  border: none;
}

#login-container .register-terms {
  line-height: 30px;
  margin-right: 10px;
  float: left;
}

.push-bit {
    margin-bottom: 30px;
}

.block, .block.full {
  border: none !important;
  padding: 0 !important;
}

.form-control-borderless .form-control,
.form-control-borderless .input-group-addon,
.form-control-borderless,
.form-control-borderless:focus {
    border: transparent !important;
}

.form-horizontal .control-label {
    margin-bottom: 5px;
}

.form-bordered {
    margin: -15px -15px -1px;
}

.modal-body .form-bordered {
    margin-bottom: -20px;
}

.form-bordered fieldset legend {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.form-bordered .form-group {
    margin: 0;
    border: none;
    padding: 15px;
}

.form-bordered .form-group.form-actions {
    background-color: #f9fafc;
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.form-horizontal.form-bordered .form-group {
    padding-left: 0;
    padding-right: 0;
}

.form-bordered .help-block {
    margin-bottom: 0;
}

.input-group-addon {
  min-width: 45px;
  text-align: center;
  background-color: #ffffff;
  border-color: #dbe1e8;
}

/* Form Select Switches */

.switch {
  margin: 1px 0;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.switch input {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}

.switch span {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
  border-radius: 28px;
  background-color: #f9f9f9;
  border: 1px solid #dddddd;
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
}

.switch span:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  bottom: 7px;
  width: 12px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 24px;
  -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.switch input:checked+ span:after {
  left: 26px;
  width: 24px;
  top: 1px;
  bottom: 1px;
  border: none;
  -webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
}

.switch input:checked+ span {
  background-color: #eeeeee;
}

.switch-default span {
  border-color: #dbe1e8;
}

.switch-default input:checked+ span {
  background-color: #dbe1e8;
}

.switch-primary span {
  border-color: #1bbae1;
}

.switch-primary input:checked+ span {
  background-color: #1bbae1;
}

.switch-info span {
  border-color: #7abce7;
}

.switch-info input:checked+ span {
  background-color: #7abce7;
}

.switch-success span {
  border-color: #aad178;
}

.switch-success input:checked+ span {
  background-color: #aad178;
}

.switch-warning span {
  border-color: #f7be64;
}

.switch-warning input:checked+ span {
  background-color: #f7be64;
}

.switch-danger span {
  border-color: #ef8a80;
}

.switch-danger input:checked+ span {
  background-color: #ef8a80;
}

login-alt-container {
  display: none;
}

#login-container .login-title {
  padding: 20px 10px;
  background: #444444;
  background: url('../img/template/ie8_opacity_dark_60.png') repeat;
  background: rgba(0, 0, 0, 0.6);
}

#login-container .login-title h1, #login-alt-container h1 {
  font-size: 26px;
  color: #ffffff;
}

#login-container .login-title h1 small, #login-alt-container h1 small {
  font-size: 16px;
  color: #dddddd;
}

#login-container> .block {
  border: none;
}

#login-container .register-terms {
  line-height: 30px;
  margin-right: 10px;
  float: left;
}

.clear-float {
  clear: both;
}

.select-multi {
  width: 250px;
}

.select2-default {
    color: #999 !important;
}

/* List Group */
.list-group-item {
  border-color: #eaedf1;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  background-color: #1bbae1;
  border-color: #1bbae1;
}
a.list-group-item.active .list-group-item-text, a.list-group-item.active:hover .list-group-item-text, a.list-group-item.active:focus .list-group-item-text {
  color: #ffffff;
}
a.list-group-item:hover, a.list-group-item:focus {
  background-color: #f9fafc;
}
a.list-group-item.active > .badge {
  background: url('../img/template/ie8_opacity_dark_40.png') repeat;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}

/* Modals */
.modal-content {
  border-radius: 3px;
}
.modal-header {
  padding: 15px 15px 14px;
  border-bottom: 1px solid #eeeeee;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.modal-title {
  font-weight: 300;
}
.modal-body {
  padding: 20px 15px;
}
.modal-body .nav-tabs {
  margin: 0 -15px 15px;
  padding: 0 5px !important;
}
.modal-footer {
  margin-top: 0;
  padding: 14px 15px 15px;
  border-top: 1px solid #eeeeee;
  background-color: #f9f9f9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Buttons */
.btn {
  margin: 1px 0;
  background-color: #ffffff;
}
.btn .gi, .btn .hi, .btn .si, .btn .fi {
  line-height: 1;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.block-options .btn, .input-group .btn, .modal-content .btn {
  margin-top: 0;
  margin-bottom: 0;
}
.btn-default {
  background-color: #f1f3f6;
  border-color: #dbe1e8;
  color: #07313a;
}
.btn-default.btn-alt {
  background-color: #ffffff;
}
.btn-default:hover {
  background-color: #eaedf1;
  border-color: #c2c8cf;
}
.btn-default:focus, .btn-default:active, .btn-default.active, .open .btn-default.dropdown-toggle {
  background-color: #eaedf1;
  border-color: #eaedf1;
}
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: #eaedf1;
  border-color: #eaedf1;
}
.btn-primary {
  background-color: #6ad2eb;
  border-color: #1bbae1;
  color: #ffffff;
}
.btn-primary.btn-alt {
  background-color: #ffffff;
  color: #1bbae1;
}
.btn-primary:hover {
  background-color: #1bbae1;
  border-color: #1593b3;
  color: #ffffff;
}
.btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .btn-primary.dropdown-toggle {
  background-color: #1bbae1;
  border-color: #1bbae1;
  color: #ffffff;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #1bbae1;
  border-color: #1bbae1;
  color: #ffffff;
}
.btn-danger {
  background-color: #ef8a80;
  border-color: #e74c3c;
  color: #ffffff;
}
.btn-danger.btn-alt {
  background-color: #ffffff;
  color: #e74c3c;
}
.btn-danger:hover {
  background-color: #e74c3c;
  border-color: #9c3428;
  color: #ffffff;
}
.btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .btn-danger.dropdown-toggle {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
}
.btn-warning {
  background-color: #f7be64;
  border-color: #f39c12;
  color: #ffffff;
}
.btn-warning.btn-alt {
  background-color: #ffffff;
  color: #f39c12;
}
.btn-warning:hover {
  background-color: #f39c12;
  border-color: #b3730c;
  color: #ffffff;
}
.btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .btn-warning.dropdown-toggle {
  background-color: #f39c12;
  border-color: #f39c12;
}
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  background-color: #f39c12;
  border-color: #f39c12;
  color: #ffffff;
}
.btn-success {
  background-color: #aad178;
  border-color: #7db831;
  color: #ffffff;
}
.btn-success.btn-alt {
  background-color: #ffffff;
  color: #7db831;
}
.btn-success:hover {
  background-color: #7db831;
  border-color: #578022;
  color: #ffffff;
}
.btn-success:focus, .btn-success:active, .btn-success.active, .open .btn-success.dropdown-toggle {
  background-color: #7db831;
  border-color: #7db831;
}
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: #7db831;
  border-color: #7db831;
  color: #ffffff;
}
.btn-info {
  background-color: #7abce7;
  border-color: #3498db;
  color: #ffffff;
}
.btn-info.btn-alt {
  background-color: #ffffff;
  color: #3498db;
}
.btn-info:hover {
  background-color: #3498db;
  border-color: #2875a8;
  color: #ffffff;
}
.btn-info:focus, .btn-info:active, .btn-info.active, .open .btn-info.dropdown-toggle {
  background-color: #3498db;
  border-color: #3498db;
  color: #ffffff;
}
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  background-color: #3498db;
  border-color: #3498db;
  color: #ffffff;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link.btn-icon:hover, .btn-link.btn-icon:focus {
  color: #1bbae1;
}
.btn-link.btn-icon {
  color: #999999;
}
.btn-link.btn-icon:hover, .btn-link.btn-icon:focus {
  text-decoration: none;
}
.block-options .btn {
  border-radius: 15px;
  padding-right: 8px;
  padding-left: 8px;
  min-width: 30px;
  text-align: center;
}

.img-scale {
  max-width: 40%;
}

.member-modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

/* user setting */

.onoffswitch {
  position: relative;
  width: 46px;
}

.display-flex {
  display: flex;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  border: 2px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  overflow: hidden;
}

.onoffswitch-inner {
  display: block;
  margin-left: -100%;
  transition: margin .3s ease-in 0s;
  width: 200%;
}

.onoffswitch-inner::before,
.onoffswitch-inner::after {
  box-sizing: border-box;
  color: white;
  display: block;
  float: left;
  font-family: Trebuchet, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  height: 15px;
  line-height: 15px;
  padding: 0;
  width: 50%;
}

.onoffswitch-inner::before {
  background-color: #34a7c1;
  color: white;
  content: 'ON';
  padding-left: 5px;
}

.onoffswitch-inner::after {
  background-color: #eee;
  color: #999;
  content: 'OFF';
  padding-right: 5px;
  text-align: right;
}

.onoffswitch-switch {
  background: white;
  border: 2px solid #999;
  border-radius: 50px;
  bottom: 0;
  display: block;
  margin: 1px;
  position: absolute;
  right: 27px;
  top: 0;
  transition: all .3s ease-in 0s;
  width: 17px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}

.color-red {
  color: red;
}

.field-compulsory:after {
  content: " *";
  color: red;
  font-weight: bold;
}

.field-compulsory-before:before {
  content: "* ";
  color: red;
  font-weight: bold;
}

.table-center > tr > td, .table-center > th {
  text-align: center;
}

.center-text-by-form {
  height: 34px;
  line-height: 34px
}

.lesson-frame-name {
  color: blue;
  font-size: 15px;
}

.lesson-frame-name:hover {
  font-size: 20px;
}

ol.upper-alpha {list-style-type: upper-alpha;}

.not-active-a {
   pointer-events: none;
   cursor: default;
}
