#btn-fb {
  background-color: #507cc0;
  color: white;
}

#btn-gp {
  background-color: #df4930;
  border: 1px solid #df4930;
  color: white;
}

#btn-tw {
  background-color: #64ccf1;
  color: white;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.clear-fix {
  clear: both;
}
