.height-300 {
  height: 300px;
}

.height-250 {
  height: 250px;
}

.height-80 {
  height: 80px;
}

.height-22 {
  height: 22px !important;
}

.height-50 {
  height: 50px
}

.height-40 {
  height: 40px
}

.height-200 {
  height: 200px
}

.width-40 {
  width: 40px
}

.width-50 {
  width: 50px
}

.width-500 {
  width: 500px;
}

.width-300 {
  width: 300px;
}

.width-250 {
  width: 250px;
}

.width-15-pc {
  width: 15%;
}

.width-10-pc {
  width: 10%;
}

.width-20-pc {
  width: 20%;
}

.width-100-pc {
  width: 100%;
}

.width-5-pc {
  width: 5%;
}

.color-blue {
  color: blue;
}

.color-red-brick {
  color: rgba(224, 33, 30, 0.81);
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-right-20 {
  margin-right: 20px;
}

.padding-right-50 {
  padding-right: 50px;
}

.margin-right-50 {
  margin-right: 50px;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-20 {
  margin-right: 20px;
}


.font-weight-default {
  font-weight: inherit !important;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-15 {
  font-size: 15px !important;
}

.text-custom-form {
  line-height: 34px;
  height: 34px
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-2 {
  border-radius: 2px
}

.border-frame-5 {
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 5px;
}
