.height-300 {
  height: 300px;
}

.height-250 {
  height: 250px;
}

.height-80 {
  height: 80px;
}

.height-22 {
  height: 22px !important;
}

.height-50 {
  height: 50px
}

.width-50 {
  width: 50px
}

.width-500 {
  width: 500px;
}

.width-300 {
  width: 300px;
}

.width-250 {
  width: 250px;
}

.color-blue {
  color: blue;
}

.color-red-brick {
  color: rgba(224, 33, 30, 0.81);
}

.padding-left-15 {
  padding-left: 15px;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.font-weight-default {
  font-weight: inherit !important;
}

.font-size-16 {
  font-size: 16px;
}

.text-custom-form {
  line-height: 34px;
  height: 34px
}
