<footer class="footer-distributed">
  <div class="footer-left">
    <h3><span>E-LEARNING</span></h3>
    <!-- <p class="footer-links">
       link_to t("footer.menu.home"), "#"
      link_to t("footer.menu.blog"), "#"
      link_to t("footer.menu.about"), "#"
       link_to t("footer.menu.faq"), "#"
       link_to t("footer.menu.contact"), "#"
    </p>
    <p class="footer-company-name">
      <%= t "footer.company-name" %>
    </p> -->
  </div>
  <div class="footer-center">
    <div class="footer-icon">
      <span>
        <i class="fa fa-map-marker"></i>
      </span>
      <p>
        <span>
          Phú Xuân - Phú Vang - T.Thừa Thiên Huế
        </span>
      </p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>0969304641</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p>
        <%= link_to "elearning.info@gmail.com", "#" %>
      </p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span>Hệ thống e-learning</span>
      E-Learning là hình thức học trực tuyến rất phổ biến ở các nước có nền công nghệ phát triển, với nhiều môn học cũng như trung tâm đào tạo
    </p>
    <div>

     <ul class="footer-nav footer-nav-social list-inline">
        <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100005219715945"><i class="fa fa-facebook"></i></a></li>
        <li><a target="_blank" href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
        <li><a target="_blank" href="https://plus.google.com/u/0/"><i class="fa fa-google-plus"></i></a></li>
        <li><a target="_blank" href="javascript:void(0)"><i class="fa fa-dribbble"></i></a></li>
        <li><a target="_blank" href="javascript:void(0)"><i class="fa fa-rss"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
